<html>

<head>
    <title> Random Hearthstone Card from GVG </title>
</head>

<body style="background-color:bisque ">
    <h1 style="text-align:center"> {{name}} </h1>
    <div style="background-color: white; display: block; margin: auto auto; width: 25%">
        <p> Set: {{set}} </p>
        <p> ID: {{id}} </p>
        <p> Artist: {{artist}} </p>
    </div>
    <img src={{img}} style="display:block; margin: auto auto">

    <div style="background-color: white; display: block; margin: auto auto; width: 50%;">
        <h2> {{flavor}} </h2>
    </div>
</body>

</html>